{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
    <h1>John Mike Asuncion</h1>
    <p><strong>Course:</strong> Bachelor of Science in Computer Engineering</p>
    <p><strong>Year Level:</strong> 2nd Year</p>

    <h2>About Me</h2>
    <p>Hello! I'm John Mike Asuncion, a sophomore computer engineering student with a
         keen interest in programming and technology. I love exploring new programming languages
         and building projects that solve real-world problems.</p>
{% endblock %}